<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Informacion">
        <mat-list role="list">
            <mat-list-item role="listitem"><b class="separar">Nombre: </b>{{cliente.nombre}}</mat-list-item>
            <mat-list-item role="listitem"><b class="separar">Apellido: </b>{{cliente.apellido}}</mat-list-item>
            <mat-list-item role="listitem"><b class="separar">Email: </b>{{cliente.email}}</mat-list-item>
            <mat-list-item role="listitem"><b class="separar">Fecha Nac: </b>{{cliente.createAt}}</mat-list-item>
            <mat-list-item role="listitem"><b class="separar">Provincia: </b>{{cliente.region.nombre}}</mat-list-item>
          </mat-list>
          
    </mat-tab>
    <mat-tab label="Facturas">
        <mat-list-item>
             <button class="botonCrearFactura" mat-raised-button>Crear Factura 
            <mat-icon class="iconoCrear">add_box</mat-icon>       
          </button>
        </mat-list-item>
        <br>
        <mat-list-item role="listitem"><b class="separar1">N de facturas: </b>{{cliente.facturas.length}}</mat-list-item>
        <div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Factura </th>
                    <td mat-cell *matCellDef="let factura">
                        <button class="botonVer"  [routerLink]="['/facturas', factura.id]" mat-dialog-close mat-raised-button>Ver</button>
                    </td>
                  </ng-container>
             
                <!-- Name Column -->
                <ng-container matColumnDef="descripcion">
                  <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                  <td mat-cell *matCellDef="let factura"> {{factura.descripcion}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef> Fecha </th>
                  <td mat-cell *matCellDef="let factura"> {{factura.createAt}}</td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef> Total </th>
                  <td mat-cell *matCellDef="let factura"> {{factura.total+factura.total*0.12}} </td>
                </ng-container>
            
             
              
                
              
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
              
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No existe ninguna Factura con este usuario</td>
                </tr>
              </table>
              <div class="paginador1">
                <mat-paginator [pageSizeOptions]="[2, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
              </div>
        </div>
    </mat-tab>
    
  </mat-tab-group>