/* Structure */
table {
    width: 100%;
    
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .paginador1{
    background-color: aliceblue;
  }
  .botonBuscar{
    margin:10px;
  }

  .botonVer{
    background-color: #B33949;
  }

  .iconoBuscar{
    margin-left: 90%;
    
  }

  .iconoCrear{
    margin-left: 15px;
  }

  .container{
    max-width: 1200px;
    margin: 0 auto;
  }