<div class="container">
    <a [routerLink]="['/clientes']" mat-raised-button class="botonRegresar" >&laquo; regresar</a>
    <div>
        <mat-card class="example-card">
            <mat-card-title>Crear Factura</mat-card-title>
           
            <mat-card-subtitle>Descripcion: {{factura.descripcion}} </mat-card-subtitle>
            
            <mat-card-content>
             <form  class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label >Cliente</mat-label>
                    <input matInput  name="cliente"  readonly="true" 
                    value={{nombreCliente}}>
                  </mat-form-field>
                  <button class="botonBuscar" (click)="openDialogBuscar()" mat-raised-button>Buscar Cliente
                    <mat-icon class="iconoCrear">search</mat-icon> 
                 </button>
                <div>
</div>
